.job_asset_button {
  display: none;
  border-radius: 0;
  border-width: 0px;
  border-color: #ffffff;
  border-style: solid;
  color: #ffffff;
  background-color: #651515;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.job_asset_fallback_button {
  display: block;
  border-radius: 50px;
  border-width: 6px;
  border-color: #ff0000;
  border-style: solid;
  color: #ff0000;
  background-color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.job_collectionInfo_button {
  display: block;
  border-radius: 0;
  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  color: #ffffff;
  background-color: #ff0000;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.job_list_iframe {
  border: 2px solid #ea2323;
  width: 100%;
  height: 800px;
}
